.home_nav {
    width: 390px;
    height: 48px;
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    position: sticky;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.home_nav .localbuzz_logo {
    width: 191px;
    height: 28px;
}

.home_nav .nav_container {
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.home_nav .nav_container .search {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home_nav .nav_container .point {
    width: 58px;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.home_nav .nav_container .point .point_p {
    width: 16px;
    height: 16px;
}

.home_nav .nav_container .point p {
    width: 39px;
    height: 20px;

    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
}