.main {
    width: 390px;
    height: 812px;
    background-color: #FFFFFF;
    position: relative;
    overflow-x: hidden;
}

.main::-webkit-scrollbar {
    display: none;
}

.main .region_container {
    position: absolute;
    top: 618px;
    left: 16px;
    /* box-sizing: border-box; */
    /* transition: left 0.1s ease; */
}

.main .category_container {
    width: 435px;
    height: 652px;
    padding-left: 16px;

    position: absolute;
    top: 669px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .container .content {
    /* width: 435px; */
    height: 613px;

    position: absolute;
    top: 39px;
}
